<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ldate" class="java.time.LocalDate" factory-method="now"/>
    <bean id="ltime" class="java.time.LocalTime" factory-method="now"/>
    <bean id="a" class="com.chaitu.sbeans.A">
    		<property name="date" ref="ldate"/>
    		<property name="time" ref="ltime"/>
    		<property name="name" value="Chaitu"/>
    </bean>
</beans>